# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sms_platform?schema=public"

# JWT
JWT_SECRET="super-secret-key-change-me"
JWT_EXPIRATION="24h"

# SMS Provider Configuration
# SMS_PROVIDER can be 'mock' or 'msg91'
SMS_PROVIDER=msg91

# MSG91 Configuration
MSG91_API_KEY=522069A7mdDtRr6a1ec845P1
MSG91_SENDER_ID=jpr1
MSG91_TEMPLATE_ID=6a1ec95832b01246100f5df2
